.main-form {
  justify-content: center;

  .main-form-input,
  .main-form-date-picker {
    transform: scale(1.3);
  }

  .main-form-btn {
    height: 50px;
    width: 150px;
    position: absolute;
    margin: 0 auto;
    bottom: 20%;
    border: #303f9f dashed;
    font-size: 1.1em;
    font-weight: 600;

    &:hover {
      background-color: #303f9f;
    }
  }
}
