{
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier"],
  "parser": "babel-eslint",
  "rules": {
    "prettier/prettier": "error",
    "linebreak-style": 0
  },
  "env": {
    "browser": true
  }
}
