{
  "extends": ["airbnb", "prettier", "prettier/react"],
  "plugins": ["react", "prettier", "react-hooks"],
  "parser": "babel-eslint",
  "rules": {
    "react-hooks/rules-of-hooks": "off",
    "react-hooks/exhaustive-deps": "off",
    "no-plusplus": "off",
    "no-return-assign": "off",
    "no-param-reassign": "off",
    "no-shadow": "off",
    "consistent-return": "off",
    "no-unused-expressions": "off",
    "no-use-before-define": "off",
    "import/prefer-default-export": "off",
    "no-undef": "off",
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", "jsx"]
      }
    ],
    "jsx-a11y/label-has-for": [
      2,
      {
        "components": ["Label"],
        "required": {
          "some": ["nesting", "id"]
        }
      }
    ],
    "prettier/prettier": "error",
    "linebreak-style": 0
  },
  "env": {
    "browser": true
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "./webpack.config.js"
      }
    }
  }
}
