@import '../../styles/variables';

.auth-form {
  background: $gradient;
  height: 400px;
  width: 400px;
  margin: 15% auto;
  padding: 40px 30px;
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;

  input {
    text-indent: 20px;

    &::placeholder {
      text-indent: 20px;
    }
  }

  .email-input,
  .password-input {
    position: relative;

    img {
      position: absolute;
      left: 5px;
      top: 40px;
    }
  }

  button {
    align-self: center;
    border-color: $purple;

    &:hover {
      background-color: $purple;
    }
  }
}
